@font-face {
	font-family: 'VelaSans';
	src: url('../fonts/Vela Sans//VelaSans-Light.woff2') format('woff2'),
		url('../fonts/Vela Sans//VelaSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'VelaSans';
	src: url('../fonts/Vela Sans//VelaSans-Regular.woff2') format('woff2'),
		url('../fonts/Vela Sans//VelaSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'VelaSans';
	src: url('../fonts/Vela Sans//VelaSans-Medium.woff2') format('woff2'),
		url('../fonts/Vela Sans//VelaSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'VelaSans';
	src: url('../fonts/Vela Sans//VelaSans-Bold.woff2') format('woff2'),
		url('../fonts/Vela Sans//VelaSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Unbounded';
	src: url('../fonts/unbounded/Unbounded-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Unbounded';
	src: url('../fonts/unbounded/Unbounded-Medium.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Unbounded';
	src: url('../fonts/unbounded/Unbounded-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

:root {
	--primary: #1967F2;
}

* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'VelaSans';
	background-color: #FEF6F6;
}

body {
	padding: 20px;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.fz12 {
	font-size: 12px !important;
}

.fz14 {
	font-size: 14px !important;
}

.fz16 {
	font-size: 16px !important;
}

.fz18 {
	font-size: 18px;
}

.fz20 {
	font-size: 20px;
}

.fz22 {
	font-size: 22px;
}

.fz24 {
	font-size: 24px;
}

.fz26 {
	font-size: 26px;
}

.fz28 {
	font-size: 28px;
}

.fz30 {
	font-size: 30px;
}

.fz32 {
	font-size: 32px;
}

.fz34 {
	font-size: 34px;
}

.mb-100 {
	margin-bottom: 100px;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

.block_01 {
	display: flex;
	gap: 20px;
	min-height: 1000px;
}

.block_01 .left_card {
	position: relative;
	width: 100%;
	border-radius: 30px;
	background: #FFF;
	background-image: url('/images/bg_logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.20) 100%), url('/images/bg_logo.png') lightgray 50% / cover no-repeat; */
	padding: 50px;
}

.navigation {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.navigation li {
	color: #3F3F3F;
	font-size: 24px;
	text-transform: uppercase;
	cursor: pointer;
}

.block_01 .left_card h1 {
	position: absolute;
	left: 50px;
	bottom: 50px;

	color: rgba(25, 103, 242, 0.50);
	font-family: 'Unbounded';
	font-size: 48px;
	font-weight: 600;
	text-transform: uppercase;
}

.block_01 .left_card h1 span {
	color: var(--primary);
}

.block_01 .right_card {
	width: 100%;
}

.circles {
	display: flex;
	align-items: center;
}

.circles div {
	width: 36px;
	height: 36px;
	border-radius: 100px;

}

.circles.primary div:nth-child(1) {
	background: rgba(25, 103, 242, 0.20);
}

.circles.primary div:nth-child(2) {
	background: rgba(25, 103, 242, 0.50);
}

.circles.primary div:nth-child(3) {
	background: var(--primary);
}