@font-face {
	font-family: 'VelaSans';
	src: url('../fonts/Vela Sans//VelaSans-Light.woff2') format('woff2'),
		url('../fonts/Vela Sans//VelaSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'VelaSans';
	src: url('../fonts/Vela Sans//VelaSans-Regular.woff2') format('woff2'),
		url('../fonts/Vela Sans//VelaSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'VelaSans';
	src: url('../fonts/Vela Sans//VelaSans-Medium.woff2') format('woff2'),
		url('../fonts/Vela Sans//VelaSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'VelaSans';
	src: url('../fonts/Vela Sans//VelaSans-Bold.woff2') format('woff2'),
		url('../fonts/Vela Sans//VelaSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Unbounded';
	src: url('../fonts/unbounded/Unbounded-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Unbounded';
	src: url('../fonts/unbounded/Unbounded-Medium.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Unbounded';
	src: url('../fonts/unbounded/Unbounded-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

:root {
	--primary: #1967F2;
	--text-color: #3F3F3F;
	--filter-white: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%);
	--filter-black: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
	--filter-primary: invert(33%) sepia(87%) saturate(750%) hue-rotate(194deg) brightness(98%) contrast(97%);
}

* {
	box-sizing: border-box;
	transition: 0.2s;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'VelaSans';
}

body {
	font-size: 24px;
	background-color: #FEF6F6;
}

a {
	color: inherit;
	text-decoration: none;
	transition: 0s;
}

p {
	margin-bottom: 0;
}

img {
	max-width: 100%;
	height: auto;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.d-flex {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.flex-column {
	flex-direction: column;
}

.justify-content-start {
	-webkit-box-pack: start !important;
	-ms-flex-pack: start !important;
	justify-content: flex-start !important;
}

.justify-content-end {
	-webkit-box-pack: end !important;
	-ms-flex-pack: end !important;
	justify-content: flex-end !important;
}

.justify-content-center {
	-webkit-box-pack: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}

.justify-content-between {
	-webkit-box-pack: justify !important;
	-ms-flex-pack: justify !important;
	justify-content: space-between !important;
}

.justify-content-around {
	-ms-flex-pack: distribute !important;
	justify-content: space-around !important;
}

.align-items-center {
	align-items: center;
}

.text-end {
	text-align: end;
}

.text-center {
	text-align: center;
}

.fz12 {
	font-size: 12px !important;
}

.fz14 {
	font-size: 14px !important;
}

.fz16 {
	font-size: 16px !important;
}

.fz18 {
	font-size: 18px;
}

.fz20 {
	font-size: 20px;
}

.fz22 {
	font-size: 22px;
}

.fz24 {
	font-size: 24px;
}

.fz26 {
	font-size: 26px;
}

.fz28 {
	font-size: 28px;
}

.fz30 {
	font-size: 30px;
}

.fz32 {
	font-size: 32px;
}

.fz34 {
	font-size: 34px;
}

.gap-10 {
	gap: 10px;
}

.gap-20 {
	gap: 20px;
}

.mb-100 {
	margin-bottom: 100px;
}

.mb-10 {
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

section {
	padding: 20px;
}

.card {
	border-radius: 30px;
	background: #FFF;
	padding: 30px;
	border: none;
}

.block_01 {
	display: flex;
	gap: 20px;
	min-height: 1000px;
}

.block_01 .left_card {
	position: relative;
	width: 100%;
	border-radius: 30px;
	background-image: url('/images/bg_logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #fff;
	/* background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.20) 100%), url('/images/bg_logo.png') lightgray 50% / cover no-repeat; */
	padding: 50px;
}

.navigation {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.navigation li {
	color: var(--text-color);
	font-size: 24px;
	text-transform: uppercase;
	cursor: pointer;
}

.block_01 .left_card h1 {
	position: absolute;
	left: 50px;
	bottom: 50px;

	color: rgba(25, 103, 242, 0.50);
	font-family: 'Unbounded';
	font-size: 48px;
	font-weight: 600;
	text-transform: uppercase;
}

.block_01 .left_card h1 span {
	color: var(--primary);
}

.block_01 .right_card {
	width: 100%;
	min-width: 0px;
}

.block_01 .right_card_item {
	position: relative;
	width: 100%;
	min-width: 0px;
	user-select: none;
	outline: none;
}

.block_01 .right_card_img {
	min-height: 1000px;
	object-fit: cover;
	border-radius: 30px;
	width: 100%;
}

.block_01 .right_card .left {
	position: absolute;
	top: 20px;
	left: 20px;

	display: flex;
	flex-direction: column;
	gap: 10px;
}

.block_01 .right_card .right {
	position: absolute;
	top: 20px;
	right: 20px;

	display: flex;
	align-items: center;
	gap: 10px;
}

.top-button {
	display: flex;
	width: 50px;
	height: 50px;
	padding: 8px;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	background: #D9D9D9;
	border: none;
	color: #fff;
}

.top-button img.second {
	filter: var(--filter-black);
}

.top-button.second {
	background: rgba(217, 217, 217, 0.50);
}

.carousel-description {
	padding: 12px 15px;
	gap: 10px;
	border-radius: 20px;
	background: #D9D9D9;

	color: var(--text-color);
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;

	opacity: 0;
	visibility: hidden;
	transition: 0.4s;
}

.carousel-description.active {
	opacity: 1;
	visibility: visible;
}

.block_01 .slick-dots {
	bottom: 20px;
	right: 20px;
}

.block_01 .slick-dots {
	width: fit-content;
	right: 20px;
	bottom: 20px;

	border-radius: 25px;
	background: rgba(217, 217, 217, 0.50);
	backdrop-filter: blur(50px);

	display: flex !important;
	align-items: center;
	justify-content: center;
	gap: 10px;
	height: 50px;
	padding: 15px;
}

.slick-dots li {
	margin: 0;
}

.slick-dots li button {
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.30);
}

.slick-dots li.slick-active button {
	border-radius: 50%;
	background-color: #fff;
}

.slick-dots li button::before {
	display: none;
}

.block_01 .right_card .carousel img {
	border-radius: 30px;
	height: 1000px;
	object-fit: cover;
}

.circles {
	display: flex;
	align-items: center;
}

.circles div {
	width: 36px;
	height: 36px;
	border-radius: 100px;
}

.circles.primary div:nth-child(1) {
	background: rgba(25, 103, 242, 0.20);
}

.circles.primary div:nth-child(2) {
	background: rgba(25, 103, 242, 0.50);
}

.circles.primary div:nth-child(3) {
	background: var(--primary);
}

.circles.orange div:nth-child(1) {
	background: rgba(222, 91, 0, 0.20);
}

.circles.orange div:nth-child(2) {
	background: rgba(222, 91, 0, 0.50);
}

.circles.orange div:nth-child(3) {
	background: #DE5B00;
}

.text-orange {
	color: #DE5B00;
}

.block_2 {
	width: 100%;
	overflow: hidden;
	position: relative;
	background: #FFF;
}

@keyframes scroll {
	from {
		transform: translateX(0);
		/* Начинаем с начала */
	}

	to {
		transform: translateX(-30%);
		/* Сдвигаем на половину длины, так как контент дублирован */
	}
}

.block_2 .card {
	display: flex;
	animation: scroll 10s linear infinite;
	flex-direction: row;
}

.block_3 p {
	color: var(--text-color);
	font-size: 24px;
	line-height: 30px;
}

.scroller__inner {
	padding-block: 1rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.scroller[data-animated="true"] {
	overflow: hidden;
	-webkit-mask: linear-gradient(90deg,
			transparent,
			white 20%,
			white 80%,
			transparent);
	mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
	width: max-content;
	flex-wrap: nowrap;
	animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
	--_animation-direction: reverse;
}

.scroller[data-direction="left"] {
	--_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
	--_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
	--_animation-duration: 60s;
}

@keyframes scroll {
	to {
		transform: translate(calc(-50% - 0.5rem));
	}
}

.tag-list {
	margin: 0;
	padding-inline: 0;
	list-style: none;
	gap: 50px;
}

.tag-list li {
	color: var(--text-color);
	font-size: 44px;

	display: flex;
	align-items: center;
}

.tag-list li .point {
	width: 29px;
	height: 29px;
	border-radius: 10px;
	background: #8CB3F9;
}

.block_4 {
	display: flex;
	align-items: center;
	gap: 20px;
}

.block_4 .card {
	width: 100%;
	min-height: 455px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.block_4 .card:hover {
	background-color: var(--primary);
}

.block_4 .card:hover .top,
.block_4 .card:hover .bottom {
	color: white;
}

.block_4 .top {
	font-size: 36px;
	color: var(--text-color);
	font-weight: 600;
	margin-bottom: 0;
	text-transform: uppercase;
}

.block_4 .bottom {
	font-family: 'Unbounded';
	font-size: 128px;
	color: var(--primary);
	font-weight: 500;
	line-height: normal;
	margin-bottom: 0;
}

.block_5 {
	display: flex;
	min-height: 600px;
}

.block_5 .right_card_img {
	width: 100%;
	min-height: 600px;
}

.block_5 .card {
	position: relative;
	width: 100%;
	border-radius: 30px;
	background: #FFF;
	background-image: url('/images/bg_logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.block_5 .card .title {
	font-family: 'Unbounded';
	font-size: 48px;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: 0;
}

.block_5 .card .description {
	color: var(--text-color);
	font-size: 24px;
	line-height: normal;
}

.block_6 {
	display: flex;
	align-items: center;
	gap: 20px;

}

.block_6 .card {
	width: 100%;
	min-height: 455px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	color: var(--text-color);
	font-size: 36px;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}

.block_6 .card b {
	font-family: 'Unbounded';
	font-weight: 800;
}

.block_6 .card img {
	position: relative;
	z-index: 2;
}

.block_6 .arrow-circle {
	position: absolute;
	right: 0;
	bottom: 0;

	opacity: 0;
	visibility: hidden;

	width: 240px;
	height: 240px;
	border-radius: 50%;
	border: 4px solid #1967F2;

	display: flex;
	align-items: center;
	justify-content: center;
}

.block_6 .card:hover .arrow-circle {
	right: 100%;
	transform: translateX(100%);
	opacity: 1;
	visibility: visible;
}

.block_7 {
	color: var(--text-color);
	font-family: 'Unbounded';
	font-size: 48px;
	font-weight: 600;
	text-transform: uppercase;
}

.block_7 .card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.big-circles {
	position: relative;
	display: flex;
}

.big-circles div {
	width: 180px;
	height: 180px;
	border-radius: 100px;
	transition: 0.3s;
}

.big-circles.primary div:nth-child(1) {
	background: rgba(25, 103, 242, 0.20);
}

.big-circles.primary:hover div:nth-child(2),
.big-circles.primary:hover div:nth-child(3),
.big-circles.primary:hover div:nth-child(4) {
	margin-left: 0;
}

.big-circles.primary div:nth-child(2) {
	margin-left: -90px;
	background: rgba(25, 103, 242, 0.30);
}

.big-circles.primary div:nth-child(3) {
	margin-left: -90px;
	background: rgba(25, 103, 242, 0.50);
}

.big-circles.primary div:nth-child(4) {
	margin-left: -90px;
	background: var(--primary);
}

.block_8 {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.block_8 .card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	width: calc(50% - 10px);
}

.block_8 .card .images {
	display: flex;
	gap: 10px;
}

.block_8 .card .title {
	color: var(--text-color);
	font-family: 'Unbounded';
	font-size: 48px;
	font-weight: 600;
	text-transform: uppercase;
}

.block_8 .card .description {
	color: var(--text-color);
	font-size: 24px;
	font-weight: 400;
}

.block_8 .card .right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 20px;
	width: 100%;
}

.block_8 .card .left-btn {
	height: 100px;
	max-width: 255px;
	width: 100%;

	border-radius: 26px;
	border: 1px solid rgba(25, 103, 242, 0.50);
	box-shadow: 0px 0px 29px 0px rgba(25, 103, 242, 0.04) inset;
	background-color: transparent;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	text-align: start;
	padding: 0 20px;

	color: var(--text-color);
	font-size: 24px;
	font-weight: 700;
	line-height: 25px;
}

.block_8 .card .right-btn {
	position: relative;
	height: 100px;
	max-width: 255px;
	width: 100%;

	border-radius: 100px;
	background: #1967F2;
	color: #fff;
	border: none;
	outline: none;
	text-transform: uppercase;
}

.block_8 .card .right-btn:hover,
.block_9 button:hover {
	border-radius: 100px;
	background: #1967F2;
	box-shadow: 0px 0px 109.8px 0px rgba(255, 255, 255, 0.50) inset;
}

.block_8 .card .right-btn .star,
.block_9 button .star {
	position: absolute;
	top: 70%;
	right: 15%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.block_8 .card .right-btn:hover .star {
	position: absolute;
	top: 50%;
	right: 10%;
	transform: translate(-50%, -50%);
	opacity: 1;
}

.block_9 button:hover .star {
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translate(-50%, -50%);
	opacity: 1;
}

.block_8 .card .right-btn:hover span,
.block_9 button:hover span {
	margin-right: 15px;
}

.block_9 .card {
	min-height: 350px;
	background-image: url('/images/block_9_bg_1.png'), url('/images/block_9_bg_2.png');
	background-repeat: no-repeat, no-repeat;
	background-position: left 100px bottom, right 100px bottom;
	background-size: 460px 270px, 460px 270px;

	display: flex;
	padding: 50px;
	justify-content: center;
	align-items: center;
	gap: 30px;
	align-self: stretch;
	border-radius: 240px;
}

.block_9 .title {
	color: var(--text-color);
	text-align: center;
	font-family: 'Unbounded';
	font-size: 48px;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}

.block_9 button {
	position: relative;
	height: 100px;
	max-width: 360px;
	width: 100%;
	border-radius: 100px;
	/* background: linear-gradient(85deg, #0A52D2 0%, #1967F2 37%, #75A7FF 100%); */
	background-color: var(--primary);
	border: none;

	color: #FFF;

	font-size: 24px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
}

.block_10 {
	display: flex;
	gap: 20px;
}

.block_10 .card {
	width: 100%;
	min-height: 455px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.block_10 .card .title {
	color: var(--text-color);
	font-size: 36px;
	font-weight: 800;
	text-transform: uppercase;
}

.block_10 .card .title b {
	font-family: 'Unbounded';
	font-weight: 800;
}

.block_10 .card button {
	display: flex;
	max-width: 240px;
	max-height: 240px;
	width: 100%;
	height: 100%;
	padding: 60px;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;

	border-radius: 50px;
	border: 5px solid rgba(25, 103, 242, 0.50);
	background: rgba(25, 103, 242, 0.00);
}

.block_10 .card:hover button {
	border-radius: 50%;
	background-color: #1967F2;
}

.block_10 .card:hover button img {
	filter: var(--filter-white);
}

footer {
	background-color: #fff;
	height: 400px;
	border-radius: 30px;
	padding: 20px;
	margin-top: 30px;
	background-image: url('/images/xeond_logo.png');
	background-repeat: no-repeat;
}

footer .xeond {
	height: 100%;
	font-family: 'Unbounded';
	color: var(--primary);
	font-size: 20px;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 290px;
	text-transform: uppercase;
}

footer .xeond_title {
	color: var(--primary);
	font-family: 'Unbounded';
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}

footer .xeond_subtitle {
	color: rgba(25, 103, 242, 0.50);
}

footer .social-medias {
	height: 100%;
	display: flex;
	gap: 20px;
}

footer .social-media {
	height: 100%;
	width: 100%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #FEF6F6;
	border-radius: 20px;

	color: var(--text-color);
	font-size: 36px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
}

footer .social-media img {
	width: 100px;
	height: 100px;
}

.mobile-show {
	display: none !important;
}

header {
	display: none;
}

.projects {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.project-row {
	display: flex;
	align-items: center;
	gap: 20px;
}

.project-row:nth-child(2n) {
	flex-direction: row-reverse;
}

.project-row .card {
	width: 50%;
	height: 100%;
	min-height: 600px;
	background-image: url('/images/bg_logo.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project-row.second .card {
	width: 100%;
	height: 100%;
	min-height: 600px;
	background-image: none;

	gap: 20px;
}


.project-row .card .title {
	color: #1967F2;
	font-family: 'Unbounded';
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: 0;
}

.project-row .card .card-content {
	width: calc(50% - 10px);
	min-height: 170px;
	border-radius: 10px;
	border: 2px solid #8CB3F9;
	backdrop-filter: blur(20px);
	padding: 15px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project-row .card .card-content .top {
	color: var(--text-color);
	font-family: 'Unbounded';
	font-size: 24px;
	font-weight: 400;
}

.project-row .card .card-content .bottom {
	color: var(--text-color);
	font-size: 24px;
}

.project-row .card .description {
	color: var(--text-color);
	font-size: 24px;
}

.project-img {
	width: calc(50%);
	text-align: center;
}

.project-images {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.project-images-card {
	width: calc(50% - 10px);
	padding: 20px;
	background-color: #F2F2F2;
	border-radius: 20px;
	/* min-height: 560px; */

	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.project-images img {
	width: calc(25% - 15px);
}

.project-images .project-images-card img {
	width: calc(33% - 11px);
	height: fit-content;
}

.project-row.second .project-img {
	width: 100%;
}

.project-img img {
	/* width: 100%; */
	object-fit: cover;
}

.portfolio-header {
	position: relative;
	width: 100%;
	min-height: 600px;
	padding: 50px;
	border-radius: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.portfolio-header.second {
	border-radius: 0;
}

.portfolio-header.frontend {
	background-image: url('/images/portfolio/frontend_bg.png');
}

.portfolio-header.backend {
	background-image: url('/images/portfolio/backend_bg.png');
}

.portfolio-header.ux {
	background-image: url('/images/portfolio/ux_bg.png');
}

.portfolio-header.graphic {
	background-image: url('/images/portfolio/graphic_bg.png');
}

.portfolio-header.price {
	background-image: url('/images/prices_bg.png');
}

.portfolio-header .bottom {
	position: absolute;
	bottom: 50px;
	left: 0;
	width: 100%;
	padding: 0 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.portfolio-header .center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding: 0 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.portfolio-header .title {
	color: #FFF;
	font-family: 'Unbounded';
	font-size: 48px;
	font-weight: 600;
	text-transform: uppercase;
}

.portfolio-header .title.second {
	color: rgba(255, 255, 255, 0.50);
	text-align: end;
}

.bottom-bar {
	position: fixed;
	bottom: -130px;
	left: 50%;
	opacity: 0;
	visibility: hidden;
	z-index: 3;
	transform: translateX(-50%);
	width: fit-content;
	padding: 25px;
	display: flex;
	align-items: center;
	gap: 20px;
	border-radius: 41.5px;
	border: 1px solid #FFF;
	background: rgba(243, 243, 243, 0.70);
	transition: 0.4s;
}

.bottom-bar.active {
	bottom: 20px;
	opacity: 1;
	visibility: visible;
}

.bottom-bar::after {
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	backdrop-filter: blur(25px);
	width: calc(100% - 1px);
	height: calc(100% - 1px);
	border-radius: 41.5px;
}

.bottom-bar li {
	position: relative;
	z-index: 3;

	font-size: 24px;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0s;
}

.bottom-bar .point {
	position: relative;
	z-index: 3;

	width: 5px;
	height: 5px;
	border-radius: 22px;
	background: #3F3F3F;
}

.bottom-bar button {
	position: relative;
	z-index: 3;

	border-radius: 25px;
	background: #D8D8D8;
	display: flex;
	width: 50px;
	height: 50px;
	padding: 8px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	outline: none;
	border: none;
}

.slick-slide div {
	margin: 0 5px;
}

.price-title {
	font-family: 'Unbounded';
	font-size: 48px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 50px;
}

.price-column {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

p.point {
	position: relative;
	text-indent: 16px;
	padding-left: 12px;
}

p.point::before {
	content: '';
	position: absolute;
	left: 12px;
	top: 16px;
	width: 6px;
	height: 6px;
	background-color: var(--text-color);
	border-radius: 50%;
}

ul.second {
	list-style-type: disc;
	/* padding-left: 0; */
}