body.dark {
	--text-color: #fff;
	--scroll-color: #161616;

	background-color: #000;
	color: #FFF;
}

body.dark header {
	background-color: rgba(13, 13, 13, 0.80);
}

body.dark .card,
body.dark .block_01 .left_card,
body.dark .block_2,
body.dark footer {
	background-color: #0D0D0D;
}

body.dark footer .social-media {
	background-color: #161616;
}

body.dark footer .social-media img,
body.dark .block_8 .card .left-btn img {
	filter: var(--filter-white);
}

body.dark .block_8 .card .left-btn {
	border: 1px solid #fff;
}

body.dark .bottom-bar {
	border: 1px solid #373737;
	background: rgba(0, 0, 0, 0.70);
}

body.dark .header-button {
	background: rgba(38, 38, 38, 0.50);
	color: #fff;
}

body.dark .project-images-card {
	background-color: #1A1A1A;
}

body.dark .block_01 .left_card,
body.dark .project-row .card,
body.dark .block_5 .card {
	background-image: url('/images/bg_logo_dark.png');
}

body.dark .modal-content {
	background: #000;
	border: 1px solid #3F3F3F;
}

body.dark .modal-input {
	background: rgba(26, 26, 26, 0.70);
	border: none;
	color: #fff;
}

body.dark .modal-input::placeholder {
	color: rgba(255, 255, 255, 0.20);
	font-size: 16px;
}

body.dark .modal-select {
	background: rgba(26, 26, 26, 0.70);
	border: none;
}