:root {
    --primary: #1967F2;
    --primary-hover: #DBE8FF;
}

/* Header */

html {
    scroll-behavior: smooth
}

body {
    margin: 0;
    font-family: 'Mont';
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.mr-20 {
    margin-right: 20px;
}

.ml-20 {
    margin-left: 20px;
}

body {
    background: #000;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header_wrapper {
    display: flex;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    background: #000;
    z-index: 6;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    width: 100%;
    height: 100px;
    padding: 0 50px;
    border-radius: 50px;
    background: #151515;
}

.header_menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header_menu_item {
    color: #999;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.header_menu_item:hover {
    color: #fff;
}

.header_btn {
    max-width: 350px;
    width: 100%;
    height: 100px;
}

.header_btn button {
    border: none;
    width: 100%;
    height: 100px;
    border-radius: 50px;
    background-color: var(--primary);
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.header_btn button:hover {
    background-color: var(--primary-hover);
    color: #000;
}

/* Header end */

/* Block 01 */

.block_01_bg {
    background-image: url('/assets/images/block_bg_03.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
}

.block_01 {
    padding-top: 100px !important;
    padding-bottom: 100px;
}

.block_01_title {
    color: #FFF;
    font-size: 75px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 64px;
}

.block_01_description {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}

.italic {
    font-style: italic;
}

.block_01_btn {
    width: 50%;
    height: 80px;
    color: #fff;
    font-size: 20px;
    border-radius: 40px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 50px;
}

.block_01_btn:hover {
    background-color: var(--primary-hover);
    color: #000;
}

.block_01_link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #FFF;
    font-size: 20px;
    margin-bottom: 100px;
}

.block_01_link button {
    border-radius: 15px;
    border: 2px solid #808080;
    padding: 13px 20px;
    background-color: transparent;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}


#logo {
    display: none;
}

/* Block 01 end */

/* Owner block */

/* .owners {
    margin-bottom: 140px;
} */

.owner {
    position: relative;
}

.owner_photo_blur {
    position: absolute;
    background-image: url('/assets/images/owner_1.png');
    filter: blur(100px);
    width: 100%;
    height: 70%;
}

.owner_photo_blur.second {
    background-image: url('/assets/images/owner_2.png');
}

.owner_photo_blur.third {
    background-image: url('/assets/images/owner_3.png');
}

.owner_photo {
    position: relative;
    height: 382px;
    width: 382px;
    margin: auto;
}

.owner_photo img {
    position: relative;
    z-index: 5;
    border-top-left-radius: 120%;
    border-top-right-radius: 65%;
    border-bottom-left-radius: 65%;
    border-bottom-right-radius: 100%;
}

.owner_info {
    position: relative;
    border-radius: 30px;
    background: rgba(40, 40, 40, 0.50);
    backdrop-filter: blur(30.940000534057617px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 40px;
    margin: auto;
    margin-top: -45px;
    margin-bottom: 40px;
    width: 70%;
    z-index: 5;
}

.owner_info_text_01 {
    color: #FFF;

    font-size: 24px;
    font-weight: 700;
}

.owner_info_text_02 {
    color: #808080;
    font-size: 24px;
    font-weight: 600;
}

.owner_exapmles {
    display: flex;
    align-items: center;
    justify-content: center;
}

.owner_exapmles img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    user-select: none;
}

.owner_exapmles img:not(:first-child) {
    margin-left: -20px;
}

.owner_exapmles_more {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background: rgba(40, 40, 40, 0.60);
    backdrop-filter: blur(30.940000534057617px);
    margin-left: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.owner_exapmles_more svg {
    transition: 0.3s;
}

.owner_exapmles_more.rotate svg {
    transform: rotate(-90deg);
}

.more {
    border-radius: 50px;
    background: rgba(40, 40, 40, 0.50);
    backdrop-filter: blur(30.940000534057617px);
    padding: 20px 40px !important;
    margin-top: 0 !important;
    opacity: 0;
    width: 100% !important;
    overflow: auto !important;
    gap: 20px;
    transition: 0.3s;
}

.more.show {
    margin-top: 50px !important;
    opacity: 1;
}

.more_item {
    position: relative;
    min-height: 325px;
}

.slick-list [data-slick-index="0"] {
    margin-left: 0;
}

.more_item img {
    border-radius: 30px;
    width: 400px !important;
    height: 260px;
}

.more_item img:focus-visible,
.more_item,
.more_item img:focus {
    outline: none;
}

.more::-webkit-scrollbar {
    height: 8px;
    border-radius: 50px;
}

.more::-webkit-scrollbar-track {
    background: #808080;
}

.more::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
}

.more::-webkit-scrollbar-thumb:hover {
    background: #eee;
}

/* Owner block end */

/* About us block */

.about_us_img {
    min-height: 325px;
    object-fit: contain;
}

.about_us {
    border-radius: 30px;
    background: rgba(40, 40, 40, 0.50);
    backdrop-filter: blur(30.940000534057617px);
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    width: 330px;
    height: 90px;
    padding: 0 44px;
    display: flex;
    align-items: center;
    margin-top: -90px;
    margin-bottom: 30px;
}

.about_us_desription {
    color: #FFF;
    font-size: 24px;
    /* font-weight: 900; */
    margin-bottom: 100px;
}

.request_block {
    padding-top: 100px;
    margin-bottom: 100px;
}

.request_block_left {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-image: url('/assets/images/requst_bg.png'); */
    /* background: linear-gradient(to left top, #462560, #292a52); */
    border-radius: 30px;
    min-height: 300px;
}

.request_block_left img {
    position: absolute;
    max-width: none;
    max-height: none;
    left: 50px;
    bottom: 0;
}

.request_input {
    border-radius: 30px;
    background: rgba(40, 40, 40, 0.50);
    backdrop-filter: blur(30.940000534057617px);
    width: calc(100% - 88px);
    outline: none;
    box-shadow: none;
    border: none;
    height: 90px;
    padding: 0 44px;
    color: #fff;
    margin-bottom: 20px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.request_select {
    border-radius: 30px;
    background: rgba(40, 40, 40, 0.50);
    backdrop-filter: blur(30.940000534057617px);
    width: calc(100%);
    outline: none;
    box-shadow: none;
    border: none;
    height: 90px;
    padding: 0 44px;
    color: #fff;
    margin-bottom: 20px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.request_select option {
    background-color: rgba(40, 40, 40);
}

.request_input::placeholder {
    color: rgba(255, 255, 255, 0.50);
    font-size: 24px;
    font-family: 'Mont';
    font-weight: 400;
}

.request_btn {
    border-radius: 30px;
    background: url('/assets/images/request_second_bg.png'), #26134C;
    background-repeat: no-repeat;
    backdrop-filter: blur(30.940000534057617px);
    width: 100%;
    border: none;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    height: 90px;
    transition: 0.3s;
}

.request_btn:hover, 
.request_second_btn:hover {
    color: #000;
    background: #DBE8FF;
}

/* About us block end */

/* Services block */

.services {
    margin-bottom: 150px;
}

.service_card {
    border-radius: 70px;
    background: rgba(40, 40, 40, 0.50);
    backdrop-filter: blur(30.940000534057617px);
    padding: 30px 20px;
    cursor: pointer;
}

.service_card_img {
    position: relative;
    height: 300px
}

.service_card_img_blur {
    position: absolute;
    background-image: url('/assets/images/service_1.png');
    filter: blur(100px);
    width: 100%;
    height: 12%;
}

.service_card_img_blur.second {
    background-image: url('/assets/images/service_2.png');
}

.service_card_img_blur.third {
    background-image: url('/assets/images/service_3.png');
}

.service_card_img img {
    position: relative;
    z-index: 1;
    border-radius: 50px;
    object-fit: fill;
    width: 99%;
    height: 290px;
    /* transition: 0.3s; */
    transition: 150ms ease-in-out;
}

.service_card_img img:hover {
    border-radius: 50px;
    transform: scale(1.033);
}

.service_card_info {
    position: relative;
    z-index: 3;
    border-radius: 30px;
    background: rgba(40, 40, 40, 0.60);
    backdrop-filter: blur(30.940000534057617px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100px;
    padding: 0 40px;
    margin-top: -45px;
    margin-bottom: 10px;
    width: fit-content;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.service_card_text {
    color: #808080;
    font-size: 20px;
    font-weight: 400;
    padding: 0 30px 10px;
    line-height: 22px;
}

/* Services block end */

/* Prices  */

.prices {
    margin-bottom: 100px;
}

.price_card {
    position: relative;
    border-radius: 70px;
    background: rgba(40, 40, 40, 0.50);
    backdrop-filter: blur(30.940000534057617px);
    padding: 50px;
    color: #fff;
    margin-top: 50px;
    transition: 0.3s;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.price_card:hover {
    background-image: url('/assets/images/price_bg.png');
}

.price_card_title {
    position: absolute;
    top: -40px;
    border-radius: 30px;
    background: rgba(40, 40, 40, 0.30);
    backdrop-filter: blur(30.940000534057617px);
    padding: 24px;
    width: 50%;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
}

.price_card_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid rgba(217, 217, 217, 0.18);
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.price_card_row:last-child {
    margin-bottom: 50px;
}

.price_card_price {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.price_card.popular {
    background-image: url('/assets/images/price_bg_popular.png');
    margin-top: 0;
}

/* Prices end */

/* Request second */

.request_second {
    margin-bottom: 100px;
}

.request_second_input {
    border-radius: 30px;
    background: #151515;
    width: calc(100% - 60px);
    padding: 30px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}

.request_second_select {
    border-radius: 30px;
    background: #151515;
    width: calc(100%);
    padding: 30px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}

.request_second_input::placeholder {
    color: rgba(255, 255, 255, 0.50);
    font-size: 24px;
    font-weight: 400;
}

.request_second_btn {
    /* background-image: url('/assets/images/request_second_bg.png'); */
    border-radius: 30px;
    background: url('/assets/images/request_second_bg.png'), #26134C;
    backdrop-filter: blur(30.940000534057617px);
    width: calc(100%);
    height: 100%;
    padding: 30px;
    border: none;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    transition: 0.3s;
}

/* Request second end */

/* Footer */

footer {
    height: 200px;
    background: rgba(40, 40, 40, 0.50);
    backdrop-filter: blur(30.940000534057617px);
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.footer_right {
    display: flex;
    align-items: center;
    gap: 50px;
}

.footer_text {
    color: #FFF;
    /* font-family: 'Montserrat'; */
    font-size: 24px;
    font-weight: 400;
    line-height: 19.88px;
}

/* Footer end */

/* Prices */

.top_bg {
    width: 100%;
    height: 200px;
    border-radius: 50px;
    background-image: url('/assets/images/top_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top_title {
    border-radius: 30px;
    background: rgba(40, 40, 40, 0.50);
    backdrop-filter: blur(30.940000534057617px);
    width: fit-content;
    padding: 36px 44px;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    margin-top: -50px;
    margin-left: 50px;
    margin-bottom: 100px;
}

.price_card.second .price_card_row {
    margin: 0 15px;
    margin-bottom: 25px;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
}

.price_card.second .price_card_row:last-child {
    margin-bottom: 0;
}

.price_card.second .title {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.mb-50 {
    margin-bottom: 50px;
}

.slick-arrow, .slick-arrow:hover {}

.gap-50 {
	gap: 50px;
}

/* Prices end */

@media (max-width: 992px) {
    .header_wrapper {
        flex-wrap: wrap;
        position: relative;
    }

    .header {
        margin-right: 0;
        margin-bottom: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header_btn {
        max-width: none;
    }

    .owner_exapmles {
        margin-bottom: 20px;
    }

    .request_block .col-lg-6 {
        margin-bottom: 20px;
    }

    .services .col-lg-4 {
        margin-bottom: 20px;
    }

    .prices .price_card {
        margin-top: 100px;
    }

    .request_second .col-lg-3 {
        margin-bottom: 20px;
    }

    .request_second_btn {
        background-size: cover;
    }

    .footer {
        justify-content: center;
    }

    .footer .footer_left {
        margin-bottom: 20px;
    }

		.header_logo {
			margin-right: 20px;
		}

    /* .header {
        height: 100%;
    } */
}

@media (max-width: 568px) {
    .block_01_btn {
        width: 100%;
    }

    .header_wrapper {
        margin: 0;
    }

    .header {
        padding: 20px 50px;
        height: 100%;
				flex-direction: column;
    }

    .header img {
        margin-bottom: 20px;
    }

    .header_menu {
			flex-direction: column;
    }

    .block_01_title {
        font-size: 40px;
        line-height: 36px;
    }

    .about_us {
        width: 50%;
    }

    .request_block_left img {
        width: 100%;
        height: 100%;
        left: 0;
    }

    .block_01_link {
        font-size: 12px;
        gap: 5px;
    }

    .block_01_link button {
        font-size: 16px;
    }

    .container {
        padding: 0 !important;
    }

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .owner_photo {
        height: 372px;
        width: 100%;
    }

    .owner_exapmles img {
        width: 70px;
        height: 70px;
    }

    .owner_exapmles_more {
        width: 70px;
        height: 70px;
    }

    .top_title {
        margin-left: 0;
    }

		.about_us_desription {
			font-size: 16px;
		}

		#about_us {
			margin: 0 10px;
		}

		.footer_right {
			justify-content: center;
			flex-wrap: wrap;
		}
}